@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "toastr";
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.checkout-index {
    height: calc(100vh - 138px);
    min-height: 440px;
}

.no-restock {
    min-height: 268px;
}

@media (max-width: 1024px) {
    .total-section, .checkouts-section {
        max-height: 590px;
    }
    .total-section, .checkouts-section, .total-table-div {
        min-height: 440px;
    }
}

@media (min-width: 1024px) {
    .checkout-index {
        max-height: 750px;
    }
}